:root{
  --mainBlue: #2a2a72;
  --ligthBlue: #009ffd;
  --mainWhate: #f3f3f3;
  --mainDark:  #232528;
  --mainYellow: #ffa400;
}
body{
  font-family: "Oswald", sans-serif !important;
  background: var(--mainWhate);
  color: var(--mainDark);
}
.text-title{
  font-family: 'Permanent Market' , cursive;
  letter-spacing: 03rem;
  text-transform: uppercase;
}
.text-blue{
  color: var(--mainBlue);
}
.text-bright{
  color: var(--ligthBlue)
}
